@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

p {
  white-space: pre-line;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
}

.my-collapsible {
  background-color: gold;
  align-items: center;
  text-align: center;
}

.welcome {
  position: relative;
  top: 50%;
  width: 65vw;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}

.my-collapsible__content {
  overflow: hidden;
  background: gold;
}

.my-collapsible__content-inner {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-collapsible__content-inner h1{
  font-family: 'Schoolbell', cursive;
  font-size: 50px;
}

.number {
  font-variant-numeric: tabular-nums;
  min-width: 3em;
  display: inline-block;
  text-align: left;
}

.timer__content {
  background: gold;
  height: 15vh;
  min-height: 100px;
  width: 100vw;
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  display: -moz-box;
  -moz-box-pack: justify;
  -moz-box-align: center;
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  display: box;
  box-pack: justify;
  box-align: center;
}

.inline-block-child h1{
  font-family: 'Schoolbell', cursive;
  font-size: 25px;
}

canvas {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);               
}

.game-container {
  height: 85vh;
}

.game-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.game-container-inner h1{
  font-family: 'Schoolbell', cursive;
  font-size: 20px;
}

.canvas-container {
  height: 400px;
}
